**/.vs/
*.suo
*.userprefs
*.DotSettings.user

/BSLib/bin/
/BSLib/obj/

/BSLib.Controls/bin/
/BSLib.Controls/obj/

/BSLib.Controls.Samples/bin/
/BSLib.Controls.Samples/obj/

/BSLib.SmartGraph/bin/
/BSLib.SmartGraph/obj/

/ArborSample/bin/
/ArborSample/obj/

/BSLib.SmartGraph.Tests/bin/
/BSLib.SmartGraph.Tests/obj/
/BSLib.SmartGraph.Tests/OpenCover/

/BSLib.Tests/bin/
/BSLib.Tests/obj/
/BSLib.Tests/OpenCover/

/UDNTest/bin/
/UDNTest/obj/

/temp/
